.MdArrowBack {
  color: #e9e9ea;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 19.8px; /* 82.5% */
  margin-top: 64px;
  border: #B847C9 2px solid ;
  border-radius: 20px;
  padding: 3px;
}

.MdArrowBack:hover {
	transition: 1s;
	background-color: #e9e9ea;
	color: #B847C9;
}
