.library {
  background: #1b1e35;
}

.library-container {
  min-height: 100vh;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 32px 0 128px 0;
}

.library__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logout-button {
  color: #bcbcd1;
  font-size: 14px;
  font-weight: 600;
  text-decoration-line: underline;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logout-button svg {
  width: 16px;
  height: 16px;
}

.AdicionarJogo {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.AdicionarJogo a {
  color: var(--primary-400, #d366e3);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 19.8px; /* 110% */
}
