.button {
  border-radius: 4px;
  background: var(--primary-300, #b847c9);

  color: #fefeff;
  text-align: center;
  font-size: 14px;
  line-height: 1.4em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px;
  max-width: 258px;
  width: 100%;
  transition: 0.3s;
}

.button:hover {
  background: #d366e3;
  transition: 0.3s;
}
