/*.........LINHA 3 - CRIAR CONTA................*/

.formContainer3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0;
  width: 100%;
  height: auto;
  box-shadow: 1px 1px 3px #333333;
  margin: 20px auto;
}
.perfil {
  background-color: #02004b;
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  
}
.textPerfil {
  padding: 0;
  margin: 15px 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  text-align: center;
  font-size: clamp(1.2rem, 1rem + 1.4vw, 2rem);
}

/*.........AVISO DADOS...........*/
.avisoDados3 {
  background-color: #d9d9d9;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 15px 40px;
  color: #5d5d5d;
}
.avisoDados3 p {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  font-size: clamp(1rem, 0.6rem + 1vw, 2rem);
}
/*.........FORMULÁRIO....................*/
.cadastrar3 {
  width: 100%;
  max-height: auto;
  border: 1px solid #fff;
  margin: 0;
  padding: 0;
  background-color: #faffe5;
  box-sizing: border-box;
}
.formPag3 {
  background-color: #edffa75c;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 10px 0;
  box-sizing: border-box;
}
.Input3 {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px auto;
}

.formPag3 label {
  color: #000;
  margin: 10px 0 3px;
  font-size: clamp(1rem, 0.3rem + 1vw, 2rem);
}
.Jogador,
.email {
  padding: 8px 0;
  border: 0.5px #757575 solid;
}

/*.....BUTTONS.......*/

.containerButtons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0 0;
}
.button1,
.button2 {
  padding: 5px 15px;
  font-size: clamp(1.2rem, 0.3rem + 1vw, 2rem);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #07070322;
  cursor: pointer;
}
.button1 {
  background-color: #d5b3ff;
}
.button2 {
  background-color: #99faff;
}
.button1:hover,
.button2:hover {
  background-color: #87e5ffb1;
}
.button1:active,
.button2:active {
  box-shadow: -0.5px 0.5px 4px #07070322;
  transform: scale(0.98);
}

/*........RESPONSIVIDADE.........*/

@media screen and (max-width: 819px) {
  .formContainer3 {
    width: 80%;
    margin: 30px 0 0;
  }
  .textPerfil {
    padding: 0 50px 0 0;
  }
}
